// Class constants

.d-flex {
  display: flex;
  display: -webkit-flex;
}

.d-grid {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
}

.box-shadow-lg {
  box-shadow: var(--box-shadow-large);
}

.box-shadow-md {
  box-shadow: var(--box-shadow-medium);
}

.bold {
  font-weight: 800;
}

.no-user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
