.section-heading {
  margin-bottom: 2rem;
  font-size: 1.875rem;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--txt-color);
    bottom: -10px;
  }
}
