.theme-toggle-btn-container {
  .theme-toggle-btn {
    @extend .box-shadow-lg;
    cursor: pointer;
    background-color: var(--toggle-theme-bg);
  }
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: transparent;
}
